body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #0051ad;
    color: white;
    text-align: center;
  }

  .generate, .answer{
    font-size: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    width: 100%;
    padding: 30px;
    background-color: #0011ad;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: none;
    margin: 0px 5px 5px 0px;
  }

  .time {
    margin: 20px 0px 20px 0px;
    font-size: 1em;
  }

  .subtitle {
    margin: 20px 0px 20px 0px;
    font-size: 2em;
    font-weight: 700;
  }

  .translation {
    margin: 20px 0px 20px 0px;
    font-size: 1em;
  }

  .subtitle {
    visibility: hidden;
  }

  .button_container {
    position: fixed;
    bottom: 0;

    left:0; right:0; margin-left:auto; margin-right:auto;

  }

  .select {
    font-size: 10px;
    padding: 20px;
    width: 100%;
    /* text-align: center;
    text-align: -webkit-center; */
    font-family: 'Noto Sans KR', sans-serif;

    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: #0011ad;
    color: rgb(255, 255, 255);
    border: none;
    margin: 0;

  }

  .text {
    width: 100%;
    padding: 10px 10px 10px 10px;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0px 5px 5px 0px;
    font-size: 1em;
    font-weight: 700;
    text-align: center;

    border: none;
    border-radius: 0;

  }
