body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #ffffff;
    text-align: center;
    color: rgb(4, 0, 255);
  }

  .generate, .answer{
    font-size: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: rgb(4, 0, 255);
    text-decoration: none;
    border: 1px;
    border-color: rgb(4, 0, 255);
    border-style: solid;
    margin: 0px 5px 5px 0px;
  }

  .time {
    margin: 20px 0px 20px 0px;
    font-size: 1em;
  }

  .subtitle {
    margin: 20px 0px 20px 0px;
    font-size: 2em;
    font-weight: 700;
  }

  .translation {
    margin: 20px 0px 20px 0px;
    font-size: 1em;
  }

  .subtitle {
    visibility: hidden;
  }

  .button_container {
    position: fixed;
    bottom: 0;

    left:0; right:0; margin-left:auto; margin-right:auto;

  }

  .select {
    font-size: 10px;
    padding: 20px;
    width: 100%;
    /* text-align: center;
    text-align: -webkit-center; */
    font-family: 'Noto Sans KR', sans-serif;

    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    color: rgb(4, 0, 255);
    background-color: #ffffff;
    margin: 0;

    border: 1px;
    border-color: rgb(4, 0, 255);
    border-style: solid;

  }

  .text {
    width: 100%;
    padding: 10px 0px 10px 0px;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0px 5px 5px 0px;
    font-size: 1em;
    font-weight: 700;
    text-align: center;


    border-radius: 0;
    border: 1px;
    border-color: rgb(4, 0, 255);
    border-style: dotted;

    color: rgb(4, 0, 255);

    }

    *:focus {
      outline: 0;
  }

  textarea::placeholder {
    color: rgb(4, 0, 255);
  }


