body {
    font-family: 'Lato', sans-serif;
    background-color: #003366;
    color: white;
    text-align: center;
  }

  .generate, .answer {
    margin: 10px;
    font-size: 1.5em;
  }

  .time {
    margin: 10px;
    font-size: 1em;
  }

  .subtitle {
    margin: 10px;
    font-size: 2em;
  }

  .translation {
    margin: 10px;
    font-size: 1em;
  }
  
  /* .main_container {
    margin: 30px auto 30px auto;
    padding: 10px;
    height: 100%;
    width: 400px;
  } */

  .subtitle {
    visibility: hidden;
  }

  .button_container {
    position: fixed;
    bottom: 0;
    width: 100%;

  }